* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

.main {
    background-image: url(assets/images/bg.jpg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    height: 90vh;
    position: relative;
}

.main .box {
    height: 90vh;
    width: 100%;
    opacity: 0.49;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    max-width: 75vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 62px;
}

nav.img {
    position: relative;
    z-index: 10;

}

nav.button {
    position: relative;
    z-index: 10;
    color: white;
    font-weight: 900;
    font-size: 60px;

}

.hero {
    position: relative;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    gap: 13px;
}

.hero> :nth-child(1) {
    font-weight: 900;
    font-size: 48px;
    align-items: center;
}

.hero> :nth-child(2) {
    font-weight: 900;
    font-size: 48px;
    align-items: center;
}

.hero> :nth-child(3) {
    font-weight: 600;
    font-size: 24px;
    align-items: center;
}

.hero> :nth-child(4) {
    font-weight: 400;
    font-size: 20px;
    align-items: center;
}

.separation {
    background-color: rgba(128, 128, 128, 0.151);
    height: 7px;
}

.btn {
    background-color: rgba(92, 81, 81, 0.753);
    font-weight: lighter;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid rgb(247, 242, 242, 0.7);
    cursor: pointer;
    color: white;

}

.btn-red-sm {
    background-color: red;
    color: white;
    cursor: pointer;
    /* border: none; */
}

.btn-red-sm2 {
    background-color: red;
    font-size: x-large;
    padding: 15px 50px;
    color: white;
    /* border: none; */
    cursor: pointer;

}

.main input {
    font-size: large;
    padding: 15px 50px;
    color: solid white;
    background: rgba(43, 41, 41, 0.94);
    padding-left: 15px;
    border: 1px solid rgb(247, 242, 242, 0.7);
    color: white;


}

.hero-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}
section.first>div {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    padding-left: 200px;
    column-gap: 250px;
}

section.first>div :nth-child(1) {
    font-weight: 900;
    font-size: 58px;


}

section.first>div :nth-child(2) {
    font-weight: 400;
    font-size: 26px;
    margin-top: 20px;

}

.secimg img {
    width: 30vw;
    position: relative;
    z-index: 10;
    right: 180px;
}

.secimg video {
    position: absolute;
    right: 180px;
    width: 26vw;
    top: 4;
    margin-right: 50px;

}

section.first.second div {
    padding: 50px;
}

section.first.second .secimg {
    padding-right: 50px;
    left: 20vw;
    position: relative;
}

section {
    padding: 50px;

}

section.first.forth div {
    padding: 40px;
}

section.first.forth .secimg {
    padding-right: 50px;
    left: 20vw;
    position: relative;
}

.faq {
    color: white;
    padding: 20px;
    font-size: 20px;
}

.faq h2 {
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;

}

.faqbox:hover {
    background-color: black;
}

.faqbox {
    display: flex;
    background-color: rgb(36, 34, 34);
    padding: 25px;
    color: white;
    justify-content: space-between;
    margin: 10px auto;
    max-width: 70vw;
    font-size: 27px;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}

.faq input {
    font-size: large;
    padding: 15px 50px;
    color: solid white;
    background: rgba(43, 41, 41, 0.94);
    padding-left: 15px;
    border: 1px solid rgb(247, 242, 242, 0.7);
}

svg {
    color: white;
}

p {
    padding: 20px;
    margin-left: 23vw;
    font-size: 21px;
    font-weight: 500;
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    gap: 14px;
}

footer .questions {
    padding: 34px 0;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    max-width: 60vw;
    margin: auto;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

footer a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}